@charset "utf-8";
/* CSS Document */

#number {
		line-height: 0em;
		position: fixed;
		z-index: 10;
		width: 100%;
		top: 10em;
		color: #FFFFFF;
}
/* EVENTS */
#contact {
	background-image: url(phone.jpg);
	height: 50em;
	margin-top: 0em;
	color: #FFFFFF;
}
	#contact > .page-content {
		padding-top: 7em;
		margin: 0% 15%;
		width: 70%;
	}
	#contact > .page-content p {
		font-size: 2em;
		line-height: 1em;
	}