@charset "utf-8";
/* CSS Document */

.panel,.flip {
	padding:5px;
	text-align:center;
	background-color:#e5eecc;
	border:solid 1px #c3c3c3;
}

.panel {
	display:none;
}

#open-collapse {
	position: fixed;
	z-index: 10;
	top: 15em;
	right: 0em;
	background-color: none;
}

button {
	text-decoration: none;
	border-right:none;
	border-top: none;
	background-color: #FFFFFF;
	padding: 1em;
	display: block;
	font-size: .65em;
	letter-spacing: 0.05em;
	width: 8em;
	background:#F7F7F7;
}

#items{
	float: left;
}

.prices{
	float: right;
}