@charset "utf-8";
/* CSS Document */

.panel,.flip {
	padding:5px;
	text-align:center;
	background-color:#e5eecc;
	border:solid 1px #c3c3c3;
}

.panel {
	padding:50px;
	display:none;
}

#open-collapse {
	position: fixed;
	z-index: 10;
	top: 15em;
	left: 0em;
	background-color: blue;
	padding: 1em;
}

button {
	text-decoration: none;
	border: none;
	background-color: #FFFFFF;
	padding: 1em;
	display: block;
	margin: 0.2em 0em;
	font-size: 1em;
	letter-spacing: 0.1em;
	width: 15em;
}