@charset "utf-8";
/* CSS Document */

.panel,.flip {
	padding: 0.7em;
	margin: 0em 9em;
	text-align:center;
	background-color:#999999;
	border:solid 1px #777777;
}

.panel {
	display:none;
}

.open-collapse {
	position: fixed;
	z-index: 10;
	top: 18.7em;
	right: 0em;
	background-color: none;
}

button {
	text-decoration: none;
	border: none;
	background-color: #990000;
	height: 2.5em;
	display: block;
	letter-spacing: 0.05em;
	width: 9em;
	color: #FFFFFF;
	font-family: inherit;
	font-size: 1em;
}

#topbutton{ border-bottom:2px solid #DA3535; }

button:focus { outline: none; }

#items{
	float: left;
	text-align: justify;
	margin-left: 2em;
}

.prices{
	float: right;
	text-align: justify;
	margin-left: 2em;
}