html, body {
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	text-align: center;
	font-family: sans-serif;
}

header {
	padding: 1em;
}

	nav {
		display: inline-block;
	}

	header a {
		padding: 1em;
		text-decoration: none;
		color: red;
		font-size: 1.2em;
		text-transform: uppercase;
		border: 1px solid red;
	}