html, body {
	margin: 0em;
	padding: 0em;
}

body {
	width: 100%;
	text-align: center;
	font-family: sans-serif;
}

header {
	padding: 1em;
	border-bottom: 3px solid green;
	height: 6em;
	position: fixed;
	z-index: 2;
	width: 100%;
	display: block;
	background: green;
	top: 0;
}

	nav {
		display: inline-block;
	}

	header a {
		padding: 1em;
		text-decoration: none;
		color: red;
		font-size: 1.2em;
		text-transform: uppercase;
		border: 1px solid red;
	}

h3 { 
	margin-top: 10em;
}

footer {
	margin-top: 20%;
	bottom: 0;
}